#home{
    width:100%;
    height:100%;
    min-height: 100vh;
    display: flex;
    overflow: hidden;
    
}
.lefthome{
    width:50%;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
}
.righthome{
    width:50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.righthome img{
    width:60%;
    filter:drop-shadow(2px 2px 20px rgb(116,201,225));
}
.homedetails{
    font-size: 2vmax;

}
.line1{
    font-size: 0.8em;
}
.line2{
    font-size: 2em;
    background:linear-gradient(to right,rgb(66, 180, 205),white);
    background-clip:text;
    color: transparent;
}
.line3{
    font-size: 1em;
}
.homedetails button{
    padding: 10px 30px;
    background-color:rgb(66,180,205);
    color: black;
    border: 2px solid rgb(66,180,205);
    margin-top:30px;
    border-radius: 20px;
    font-size: 19px;
    transition: all 0.2s;
    cursor: pointer;
}
.homedetails button:hover{
    background-color: transparent;
    color:rgb(66,180,205);

}
@media (max-width:750px) {
    #home{
        flex-direction: column-reverse;
    }
    .lefthome{
        width:100%;
        height: 50vh;
    }
    .righthome{
        width: 100%;
        height: 50vh;
        align-items: end;
    }
    
}
